<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Müşteriler</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Müşteriler</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Müşteriler</h3>
                        <div id="table-buttons" class="text-right">
                            <button class="btn btn-secondary" tabindex="0" type="button" id="showDeleted">
                                <span>Silinenleri Göster</span>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{#if customers}}
                        <table id="customerList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>E-mail</th>
                                    <th>Telefon Numarası</th>
                                    <th>Yaratılma Tarihi</th>
                                    <th>Değiştirilme Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each customers}}
                                <tr {{#if deleted}} data-deleted="true" class="deleted-row" {{else}}data-deleted="false"
                                    {{/if}}>
                                    <td>{{displayName}}</td>
                                    <td>{{email}}</td>
                                    <td>{{#phoneNumber phoneNumber}}{{/phoneNumber}}</td>
                                    <td>{{#convertDateDay createdAt}}{{/convertDateDay}} - {{#convertDateHour
                                        createdAt}}{{/convertDateHour}}</td>
                                    <td>{{#convertDateDay updatedAt}}{{/convertDateDay}} - {{#convertDateHour
                                        updatedAt}}{{/convertDateHour}}</td>
                                    <td>
                                        {{#if deleted}}
                                        <a href="/admin/customer/{{_id}}" class="btn btn-primary btn-sm">
                                            <i class="fas fa-folder">
                                            </i>
                                            Müşteriyi Görüntüle
                                        </a>
                                        <button onclick="restoreCustomerModal('{{_id}}')" class="btn btn-warning btn-sm">
                                            <i class="fas fa-trash-restore">
                                            </i>
                                            Geri Yükle
                                        </button>
                                            <button onclick="removeFullCustomerModal('{{_id}}')"
                                                    class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                                Kalıcı Sil
                                            </button>
                                        {{else}}
                                        <a href="/admin/customer/{{_id}}" class="btn btn-primary btn-sm">
                                            <i class="fas fa-folder">
                                            </i>
                                            Müşteriyi Görüntüle
                                        </a>
                                        <button onclick="rePasswordCustomerModal('{{_id}}')" class="btn btn-warning btn-sm">
                                            <i class="fas fa-key">
                                            </i>
                                            Şifre Sıfırla
                                        </button>
                                        <button onclick="removeCustomerModal('{{_id}}')" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash">
                                            </i>
                                            Sil
                                        </button>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>E-mail</th>
                                    <th>Telefon Numarası</th>
                                    <th>Yaratılma Tarihi</th>
                                    <th>Değiştirilme Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                        </table>
                        {{else}}
                        <h5>Müşteri bulunamadı!</h5>
                        {{/if}}
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<div id="customerModalDiv"></div>

{{#section "link"}}
<!-- DataTables -->
<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


{{/section}}

{{#section "script"}}

<script id="removeCustomer-template" type="text/x-handlebars-template">
            {{> admin/modals/removeCustomer}}
</script>
<script id="rePasswordCustomer-template" type="text/x-handlebars-template">
            {{> admin/modals/rePasswordCustomer}}
</script>
<script id="restoreCustomer-template" type="text/x-handlebars-template">
            {{> admin/modals/restoreCustomer}}
</script>
<script id="removeFullCustomer-template" type="text/x-handlebars-template">
            {{> admin/modals/removeFullCustomer}}
</script>

<!-- DataTables  & Plugins -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script src="/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/admin/plugins/datatables/date-eu.js"></script>

<script src="/admin/dist/js/datatableDeleted.js"></script>



<script>
    var table;
    $(function () {
        table = $("#customerList").DataTable({
            "language": {
                "url": "/admin/plugins/datatables/Turkish.json"
            },
            "columnDefs": [
                { "visible": false, "searchable": false, "type": "date-eu", "targets": [3, 4] }
            ],
            "responsive": true, "autoWidth": false,
            initComplete: function () {
                var api = this.api();
                new $.fn.dataTable.Buttons(api, {
                    buttons: [
                        "colvis",
                    ]
                });
                api.buttons().container().appendTo('#table-buttons');
            },
        })
    });

    let removeCustomerModal = async function (_id) {
        var source = document.getElementById("removeCustomer-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template({_id});
        document.getElementById("customerModalDiv").innerHTML = html;
        $("#removeCustomerModal").modal("show");
    };

    let rePasswordCustomerModal = async function (_id) {
        var source = document.getElementById("rePasswordCustomer-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template({_id});
        document.getElementById("customerModalDiv").innerHTML = html;
        $("#rePasswordCustomerModal").modal("show");
    };

    let restoreCustomerModal = async function (_id) {
        var source = document.getElementById("restoreCustomer-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template({_id});
        document.getElementById("customerModalDiv").innerHTML = html;
        $("#restoreCustomerModal").modal("show");
    };

    let removeFullCustomerModal = async function (_id) {
        var source = document.getElementById("removeFullCustomer-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template({_id});
        document.getElementById("customerModalDiv").innerHTML = html;
        $("#removeFullCustomerModal").modal("show");
    };

</script>
{{/section}}