<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ürün Düzenle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="/admin/products">Ürünler</a></li>
                    <li class="breadcrumb-item active">Ürün Düzenle</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ÜRÜN DÜZENLE</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                                    class="fas fa-expand"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form role="form" method="post" onsubmit="editProductSubmit(event,'{{product._id}}')">
                            <div class="form-group">
                                <label for="productName">Ürün Adı</label>
                                <input data-valid="required" type="text" id="productName" class="form-control" value="{{product.productName}}">
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Ürün Açıklaması</label>
                                <textarea data-valid="required" id="productDescription" class="form-control" rows="4">{{product.productDescription}}</textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="groupId">Grup</label>
                                    <select id="groupId" data-default="{{product.group._id}}" class="form-control custom-select">
                                    </select>
                                </div>
                                <div class="col-6 d-flex align-items-center justify-content-end">
                                    <input type="button" value="Yeni Grup Ekle" class="btn btn-success"
                                        onclick="addGroupModal()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-sm-6">
                                    <label for="price">Fiyatı</label>
                                    <input data-valid="required" type="number" id="price" class="form-control" value="{{product.price}}">
                                </div>
                                <div class="form-group col-12 col-sm-6">
                                    <label for="order">Sıra</label>
                                    <input data-valid="required" type="number" id="order" value="{{product.order}}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Seçenekler</label>
                                <div class="row">
                                    <div class="col-9">
                                        <div id="optionCheckboxList" data-default='{{#json product.options}}{{/json}}' 
                                        class="row m-0 pl-2">

                                        </div>
                                    </div>
                                    <div class="col-3 d-flex align-items-center justify-content-end">
                                        <input type="button" value="Yeni Seçenek Ekle" class="btn btn-success"
                                            onclick="addOptionModal()">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Ürünü Düzenle</button>
                                <button type="button" onclick="removeProductModal()"
                                    class="btn btn-danger float-right">Ürünü
                                    Sil</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">SEÇENEKLERİ YÖNET</h3>
                        <div class="card-tools">
                            <input type="button" value="Yeni Seçenek Ekle" class="btn btn-success"
                                onclick="addOptionModal()">
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 15%">
                                        Seçenek Adı
                                    </th>
                                    <th style="width: 20%">
                                        Görünen Açıklama
                                    </th>
                                    <th style="width: 30%">
                                        Seçenek Tipi
                                    </th>
                                    <th style="width: 15%">
                                        Seçenek Elemanları
                                    </th>
                                    <th style="width: 20%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="optionsTableList">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<div id="modalDiv"></div>


{{#section "script"}}
<script src="/admin/dist/js/productPages.js"></script>

<script id="addGroup-template" type="text/x-handlebars-template">
            {{> admin/modals/addGroup}}
</script>
<script id="addOption-template" type="text/x-handlebars-template">
            {{> admin/modals/addOption}}
</script>
<script id="removeProduct-template" type="text/x-handlebars-template">
            {{> admin/modals/removeProduct}}
</script>
<script id="removeOption-template" type="text/x-handlebars-template">
            {{> admin/modals/removeOption}}
</script>
<script id="editOption-template" type="text/x-handlebars-template">
            {{> admin/modals/editOption}}
</script>


<script>
    let getGroups = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/admin/getGroups", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = async function (event) {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                let response = JSON.parse(this.response);
                let groupsElement = document.getElementById("groupId");
                console.log(response);
                if (response.err) {
                    groupsElement.innerHTML = response.err;
                } else {
                    groupsElement.innerHTML = "";
                    response.data.forEach(function (p) {
                        groupsElement.innerHTML += `<option value="${p._id}">${p.groupName}</option>`;
                    });
                    $("#groupId").val(groupsElement.dataset.default);
                }
            }
        };
        xhr.send();
    };
    let getOptions = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/admin/getOptions", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = async function (event) {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                let response = JSON.parse(this.response);
                let optionsCheckbox = document.getElementById("optionCheckboxList");
                let optionsTableList = document.getElementById("optionsTableList");
                console.log(response);
                if (response.err) {
                    optionsCheckbox.innerHTML = response.err;
                    optionsTableList.innerHTML = response.err;
                } else {
                    optionCheckboxLoad(response.data);
                    optionTableListLoad(response.data);
                }
            }
        };
        xhr.send();
    };

    let optionCheckboxLoad = function (data) {
        let optionsCheckbox = document.getElementById("optionCheckboxList");
        optionsCheckbox.innerHTML = "";

        data.forEach(function (p) {
            let optionDetailString = `<div class='text-left'><p>Görünen Açıklama: ${p.optionDisplayName}</p>`;
            if (p.optionType == 1) {
                optionDetailString += "<p>Seçenek Tipi:Seç</p>";
            } else {
                optionDetailString += "<p>Seçenek Tipi:Çıkar</p>";
            }
            optionDetailString += "<p>Seçenek Elemanları:</p><ul>";
            p.optionDetail.forEach(function (k) {
                optionDetailString += `<li><strong>${k.optionDetailContent}</strong>, : ${k.optionPriceDifference} TL</li>`;
            });
            optionDetailString += "</ul></div>";
            optionsCheckbox.innerHTML += `
            <div class="form-check col-sm-6 col-md-3">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-html="true"
                    title=" ${optionDetailString}">
                    <input id="${p._id}" value="${p._id}" class="form-check-input" type="checkbox">
                    <label for="${p._id}" class="form-check-label"> ${p.optionName}</label>
                </span>
            </div>`;
        });
        $('[data-toggle="tooltip"]').tooltip();
        let defaultDatas = JSON.parse(optionsCheckbox.dataset.default);
        defaultDatas.forEach(function(p){
            document.getElementById(p._id).checked = true;
        })

    }
    let optionTableListLoad = function (data) {
        let optionsTableList = document.getElementById("optionsTableList");
        optionsTableList.innerHTML = "";

        data.forEach(function (p) {
            let optionTableString = "<tr>";
            optionTableString += `<td>${p.optionName}</td>`;
            optionTableString += `<td>${p.optionDisplayName}</td>`;
            if (p.optionType == 1) {
                optionTableString += "<td>Seç</td>";
            } else {
                optionTableString += "<td>Çıkar</td>";
            }
            optionTableString += "<td><ul>";
            p.optionDetail.forEach(function (k) {
                optionTableString += `<li><strong>${k.optionDetailContent}</strong> : ${k.optionPriceDifference} TL</li>`;
            });

            optionTableString += "</ul></td>";

            optionTableString += `
                        <td class="project-actions text-right">
                            <button type="button" class="btn btn-info btn-sm" onclick='editOptionModal(\`${JSON.stringify(p)}\`)' >
                                <i class="fas fa-pencil-alt">
                                </i>
                                Düzenle
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeOptionModal('${p._id}')">
                                <i class="fas fa-trash">
                                </i>
                                Sil
                            </button>
                        </td>`;
            optionTableString += "</tr>";

            optionsTableList.innerHTML += optionTableString;
        });
    }
    window.addEventListener("load", (event) => {
        getGroups();
        getOptions();
    });

</script>

{{/section}}