<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kullanıcılar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Kullanıcılar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">KULLANICILAR</h3>
                        <div id="table-buttons" class="text-right">
                            <button class="btn btn-secondary" tabindex="0" type="button" id="showDeleted">
                                <span>Silinenleri Göster</span>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{#if users}}
                        <table id="userList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>E-mail</th>
                                    <th>Yaratılma Tarihi</th>
                                    <th>Değiştirilme Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr {{#if deleted}} data-deleted="true" class="deleted-row" {{else}}data-deleted="false"
                                    {{/if}}>
                                    <td>{{displayName}}</td>
                                    <td>{{email}}</td>
                                    <td>{{#convertDateDay createdAt}}{{/convertDateDay}} - {{#convertDateHour
                                        createdAt}}{{/convertDateHour}}</td>
                                    <td>{{#convertDateDay updatedAt}}{{/convertDateDay}} - {{#convertDateHour
                                        updatedAt}}{{/convertDateHour}}</td>
                                    <td>
                                        {{#if deleted}}
                                        <button onclick="restoreUserModal()" class="btn btn-warning btn-sm">
                                            <i class="fas fa-trash-restore">
                                            </i>
                                            Geri Yükle
                                        </button>
                                        {{else}}
                                        <button onclick="rePasswordUserModal()" class="btn btn-warning btn-sm">
                                            <i class="fas fa-key">
                                            </i>
                                            Şifre Sıfırla
                                        </button>
                                        <button onclick="editUserModal()" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Düzenle
                                        </button>
                                        <button onclick="removeUserModal()" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash">
                                            </i>
                                            Sil
                                        </button>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>E-mail</th>
                                    <th>Yaratılma Tarihi</th>
                                    <th>Değiştirilme Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                        </table>
                        {{else}}
                        <h5>Kullanıcı bulunamadı!</h5>
                        {{/if}}

                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">KULLANICI EKLE</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="displayName">Ad Soyad</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                                <div class="form-group"><small>Şifre mail adresine gönderilecektir.</small></div>
                                <div class="form-group"><button type="button" class="btn btn-primary">Ekle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<div id="userModalDiv"></div>


{{#section "link"}}
<!-- DataTables -->
<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


{{/section}}

{{#section "style"}}
<style>

</style>
{{/section}}

{{#section "script"}}

<script id="editUser-template" type="text/x-handlebars-template">
            {{> admin/modals/editUser}}
</script>
<script id="removeUser-template" type="text/x-handlebars-template">
            {{> admin/modals/removeUser}}
</script>
<script id="rePasswordUser-template" type="text/x-handlebars-template">
            {{> admin/modals/rePasswordUser}}
</script>
<script id="restoreUser-template" type="text/x-handlebars-template">
            {{> admin/modals/restoreUser}}
</script>



<!-- DataTables  & Plugins -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script src="/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/admin/plugins/datatables/date-eu.js"></script>

<script src="/admin/dist/js/datatableDeleted.js"></script>



<script>
    var table;
    $(function () {
        table = $("#userList").DataTable({
            "language": {
                "url": "/admin/plugins/datatables/Turkish.json"
            },
            "columnDefs": [
                { "visible": false, "searchable": false, "type": "date-eu", "targets": [2, 3] }
            ],
            "responsive": true, "autoWidth": false,
            initComplete: function () {
                var api = this.api();
                new $.fn.dataTable.Buttons(api, {
                    buttons: [
                        "colvis",
                    ]
                });
                api.buttons().container().appendTo('#table-buttons');
            },
        })
    });

    let editUserModal = async function () {

        var source = document.getElementById("editUser-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template();
        document.getElementById("userModalDiv").innerHTML = html;
        $("#editUserModal").modal("show");
    };

    let removeUserModal = async function () {
        var source = document.getElementById("removeUser-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template();
        document.getElementById("userModalDiv").innerHTML = html;
        $("#removeUserModal").modal("show");
    };

    let rePasswordUserModal = async function () {
        var source = document.getElementById("rePasswordUser-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template();
        document.getElementById("userModalDiv").innerHTML = html;
        $("#rePasswordUserModal").modal("show");
    };

    let restoreUserModal = async function () {
        var source = document.getElementById("restoreUser-template").innerHTML;
        var template = await Handlebars.compile(source);
        var html = await template();
        document.getElementById("userModalDiv").innerHTML = html;
        $("#restoreUserModal").modal("show");
    };

</script>
{{/section}}