<section class="text-myred py-5">
  <div class="container">
    <div class="text-center">
      <h1>MENÜ</h1>
    </div>
    <!-- Group-->
    {{#each groups}}
    <div class="product-group">
      <div class="product-group-header">
        <h3>{{groupName}}</h3>
      </div>
      <div class="product-group-body">
        {{#each products}}
        <hr />
        <!-- Product Detail -->
        <div class="product-detail">
          <div class="product-name">
            {{productName}}
            <div class="product-description">
              <small>{{productDescription}}</small>
              {{#unless ../../restaurant.open}}
              <br>
              <small class="text-success">Restoranımız şuan servis yapmamaktadır.</small>
              {{else}}
              
                {{#unless open}}
                <br>
                <small class="text-success">Bu ürün şuan satışta değil.</small>
                {{/unless}}
              {{/unless}}
            </div>
          </div>
          <div class="product-button">
            <button {{#unless ../../restaurant.open}} disabled {{else}}{{#if open}}onclick='addProductToBasketModal(`{{#json this}}{{/json}}`)' {{else}}disabled{{/if}}{{/unless}} class="btn btn-sm btn-myred rounded-0">
              <i class="fas fa-shopping-basket"></i>
              {{price}} TL
              </button>
          </div>
        </div>
        <!-- /Product Detail -->
        {{/each}}
      </div>
    </div>
    <!-- /Group-->
    {{/each}}
    </div>
  </div>
</section>

{{#section "link"}}
 
{{/section}}

{{#section "style"}}
  <style>
  </style>
{{/section}}

{{#section "script"}}

{{/section}}